<IfModule mpm_event_module>
   ThreadLimit              {{ ServerLimit }}
   StartServers             {{ StartServers }}
   MinSpareThreads          {{ MinSpareServers }}
   MaxSpareThreads          {{ MaxSpareServers }}
   ThreadsPerChild          {{ ThreadsPerChild }}
   MaxRequestWorkers        {{ MaxRequestWorkers }}
   MaxConnectionsPerChild   {{ MaxConnectionsPerChild }}
</IfModule>