[ {{ username }} ]
user = {{ username }}
group = {{ username }}
listen = /run/php/{{ username }}.sock
listen.owner = {{ username }}
listen.group = {{ username }}
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_fopen] = off
pm = dynamic
pm.max_children = 256
pm.start_servers = 20
pm.min_spare_servers = 10
pm.max_spare_servers = 20
pm.max_requests = 1000
chdir = /