<VirtualHost *:80>
        ServerName {{ domainname }}
        ServerAlias {{ domainalias }}
        DocumentRoot /home/{{ username }}/public_html/public
        AssignUserId {{ username }} {{ groupname }}

    <Directory /home/{{ username }}/public_html>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    <FilesMatch ".+\.ph(ar|p|tml)$">
        SetHandler "proxy:unix:/run/php/8.2/{{ username }}.sock|fcgi://php82.localhost"
    </FilesMatch>

    <IfModule mod_setenvif.c>
        SetEnvIf X-Forwarded-Proto "^https$" HTTPS
    </IfModule>

    ErrorLog /home/{{ username }}/apache_logs/error.log
    CustomLog /home/{{ username }}/apache_logs/access.log combined
</VirtualHost>